/* PROFILE START */

.profile {
    padding-top: 45px;

    &__name {

        & p {
            font-size: 25px;
            font-weight: 700;
            color: $black;
        }

        & button {
            font-size: 14px;
            line-height: 14px;
            font-weight: 700;
            color: $black;
            background: $milk;
            border-radius: 5px;
            border: none;
            padding: 13px 0;
            margin-left: 15px;
        }
    }

    &__score {

        & p {
            font-size: 24px;
            font-weight: 400;
            color: $black;

            & span {
                font-size: 36px;
                font-weight: 700;
                color: $black;
            }
        }

        & div {
            margin-left: 15px;

            & img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    &__present {

        & p {
            font-size: 18px;
            font-weight: 400;
            color: $black;

            & span {
                font-size: 18px;
                font-weight: 700;
                color: $black;
            }
        }
    }

    &__competition {
        margin-top: 50px;

        /* SECTION WIN */

        &_win {

            & p {
                font-size: 25px;
                font-weight: 700;
                color: $black;
            }

            & button {
                font-size: 14px;
                font-weight: 700;
                color: $black;
                background: $main;
                border-radius: 5px;
                border: none;
                margin-left: 15px;
            }
        }

        &_desc {
            width: 100%;
            background: $black;
            border-radius: 10px;
            padding-left: 30px;
            margin-top: 25px;
            margin-bottom: 20px;

            & p {
                margin-bottom: 0;
                font-size: 18px;
                color: $white;
                font-weight: 700;
                padding: 5px 0;
            }
        }

        &_place {
            width: 100%;
            background: $white;
            border: 1px solid $white-grey;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 0 15px 0 15px;
            margin-bottom: 50px;

            & p {
                margin-bottom: 0;
                padding: 20px 0;
                font-size: 18px;
                font-weight: 400;
                color: $black;
                text-align: center;
            }
        }
    }



    /* SECTION UNPAID */

    &__unpaid {
        margin-bottom: 50px;

        & button {
            border: none;
            background: transparent;
        }

        & p {
            margin-bottom: 0;
        }

        &_text {
            font-size: 25px;
            font-weight: 700;
            color: $black;
            margin-bottom: 30px !important;
        }

        &_payment {
            background: $milk;
            border-radius: 5px;
            padding: 20px 25px;
            margin-left: 20px;
            height: 220px;
        }

        &_total {
            width: 100%;

            & p {
                font-size: 24px;
                font-weight: 700;
                color: $black;
                margin-bottom: 0;
            }
        }

        &_pay {
            background: $main !important;
            border-radius: 5px;
            width: 100%;
            padding: 15px 5px;
            font-size: 14px;
            font-weight: 700;
            color: $black;
        }

        &_unform {
            background: $white !important;
            border-radius: 5px;
            width: 100%;
            padding: 15px 5px;
            font-size: 14px;
            font-weight: 700;
            color: $black;
        }
    }

    /* SECTION HISTORY */

    &__history {
        &_title {
            font-size: 25px;
            font-weight: 700;
            color: #343434;
            margin-bottom: 30px !important;
        }

        &_info {
            background: $main;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        &_number {
            & p {
                font-weight: 300;
                font-size: 18px;
                color: $black;
                margin-bottom: 0;
                padding-left: 40px;
            }
        }

        &_item {
            padding: 25px 70px 25px 0;

            & p {
                font-weight: 300;
                font-size: 18px;
                color: $black;
                margin-bottom: 0;
            }

            & span {
                font-size: 18px;
                font-weight: 700;
                color: $black;
            }
        }

        &_repeat {
            font-size: 14px;
            font-weight: 700;
            color: $black;
            background: $white;
            border-radius: 5px;
            border: none;
            padding: 10px;
            text-align: center;
        }

        &_arrow {
            background: transparent;
            border: none;
        }

        /* UNCOVER */
        &_uncover {
            background: $white;
            border: 1px solid $white-grey;
            box-sizing: border-box;
            border-radius: 10px;
            margin: 10px 0;
        }

        &_vision {

            & div {
                width: 164px;
                height: 164px;
                margin-right: 120px;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &_quantity {

            & p {
                font-size: 14px;
                font-weight: 400;
                color: $black;
            }
        }
    }

    /* PROFILE FORM */

    &__form {

        &_top {
            background: $main;
            padding: 20px 40px;

            & p {
                font-size: 26px;
                color: $black;
                font-weight: 700;
                margin-bottom: 0;
            }

            & button {
                background: transparent;
                border: none;
            }
        }

        &_input {
            padding: 25px 40px 40px 40px;

            & div {
                display: flex;
                flex-direction: column;
                margin-bottom: 18px;

                & label {
                    font-weight: 300;
                    font-size: 16px;
                    color: $black;
                    margin-bottom: 10px;
                }

                & input {
                    background: #E7E7E7;
                    border-radius: 5px;
                    font-weight: 300;
                    font-size: 18px;
                    color: $black;
                    border: none;
                    padding: 12px 0 12px 12px;
                }
            }
        }

        &_btn {
            margin-bottom: 0 !important;
            margin-top: 30px;
        }

        &_change {
            background: $main;
            border-radius: 5px;
            border: none;
            padding: 13px;
            font-size: 18px;
            font-weight: 700;
            color: $black;
            margin-bottom: 20px;
        }

        &_password {
            background: #F8F7F7;
            border-radius: 5px;
            border: none;
            padding: 13px;
            font-size: 18px;
            font-weight: 700;
            color: $black;
        }
    }

}

/* ACCORDION */

.accordion-item {
    background-color: transparent;
    border: none;
}

.accordion-body {
    padding: 1rem 0px;
}

.accordion-button {
    background-color: $main !important;
    outline: none;
    box-shadow: none !important;
    padding: 0 !important;
}

.accordion-button[aria-expanded='false']::after {
    transform: rotate(-90deg);
}

.accordion-button[aria-expanded='true']:after{
    transform: rotate(0deg);
}


.accordion-button:after {
    position: absolute;
    right: 25px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E")!important;
}

.accordion-item:first-of-type .accordion-button {
    border-radius: 10px;
}


/* ===========MEDIA PROFILE================ */

@media (max-width: 992px) {
    .profile {
        &__unpaid {

            &_item {
                flex-wrap: wrap;
            }
        }

        &__name {

            & button {
                margin-left: 0px;
            }
        }

        &__competition_win button {
            padding: 13px 0;
            margin: 10px 0 25px 0;
        }

        &__unpaid_payment {
            margin-left: 0;
        }

        &__history_number p {
            padding-left: 0;
            margin: 20px 0 10px 0;
        }

        &__history_item {
            padding: 0;

            & p {
                margin-bottom: 10px;
            }

            & span {
                margin-bottom: 10px;

            }

            & button {
                margin-bottom: 10px;
            }
        }

        &__history_vision div {
            margin-right: 0;
        }
    }

    .accordion-button::after {
        bottom: 5px;
        right: 50%;
    }


    .profile__history_repeat {
        margin-bottom: 30px;
    }
}

@media (max-width: 400px) {
    .profile__competition_place p {
        font-size: 16px;
        text-align: left;
    }
}
