.basket-main {
    margin: 30px 0 100px 0;

    .input_group{
        margin-bottom: 15px;
    }

    &__title {
        font-weight: 700;
        color: $black;
        padding: 10px 20px;
        background: $main;
        font-size: 28px;
        margin-bottom: 0;
    }

    &__number {
        font-size: 28px;
        line-height: 28px;
        color: $black;
        margin-bottom: 0 !important;
        margin-left: 20px;
    }
    
    &__block {
        padding-right: 20px;
    }

    &__info {
        padding-right: 70px;
    }

    &__item {
        background: $white;
        border: 1px solid $white-grey;
        box-sizing: border-box;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    &__gainer_text {
        max-width: 314px !important;
        width: 100% !important;
        font-size: 18px !important;
        line-height: 18px !important;
        color: $black !important;
        padding-left: 20px !important;
        margin-bottom: 0 !important;
    }

    & button {
        border: none;
        background: transparent;
    }

    & p {
        margin-bottom: 0;
        font-size: 16px;
        line-height: 14px;
        color: $black;
        font-weight: 400;
    }

    &__gainer_img {
        height: 160px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .controls-items-count{
        & span{
            width: 40px;
            text-align: center;
        }
    }


    &__minus {
        margin-right: 6px;
    }


    &__plus {
        margin-left: 6px;
    }

    & form {
        margin-top: 0;
    }

    &__inputs {
        background: $white;
        border: 1px solid $white-grey;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 30px 30px 40px 30px;

        & input, & select {
            background: #E6E6E6;
            border-radius: 5px;
            border: none;
            padding: 7px 0 9px 10px;
            outline: none;
            width: 100%;
            margin-top: 10px;
        }

        & select{
            padding: 9px 0 9px 10px!important;
        }

        & label {
            font-size: 20px;
            line-height: 22px;
            font-weight: 400;
            color: $black;
        }
    }

    &__input {

        &_coment {
            & textarea {
                height: 80px;
                vertical-align: top;
                resize: none;
                background: #E6E6E6;
                border-radius: 5px;
                font-weight: 300;
                font-size: 16px;
                line-height: 16px;
                color: $black;
                padding: 10px;
                outline: none;
                border: none;
                margin-top: 10px;
            }
        }

        &_contact{
            & > div {
                padding: 0px 15px;
            }
            & div:first-child{
                padding-left: 0px;
            }
            & div:last-child{
                padding-right: 0px;
            }
        }

        &_desc {
            font-weight: 300;
            font-size: 16px;
            line-height: 16px;
            color: $black;
            margin-top: 10px;
        }
    }

    &__order {
        background: #F8F7F7;
        border-radius: 5px;
        padding: 30px 20px 40px 20px;

        &_total {
            margin-bottom: 10px;

            & p {
                font-size: 24px;
                line-height: 24px;
                font-weight: 700;
                color: $black;
            }
        }

        &_sale {
            margin-bottom: 10px;

            & p {
                font-size: 18px;
                line-height: 18px;
                font-weight: 400;
                color: $black;
            }
        }

        &_weight {
            margin-bottom: 15px;

            & p {
                font-size: 18px;
                line-height: 18px;
                font-weight: 700;
                color: $black;
            }
        }

        &_set {
            margin-bottom: 20px;

            & label {
                font-weight: 300;
                font-size: 18px;
                line-height: 18px;
                color: $black;
                margin-bottom: 10px;
            }

            & input {
                border: 1px solid #D0D0D0;
                box-sizing: border-box;
                border-radius: 5px;
                padding: 6px;
                outline: none;
            }
        }

        & button {
            background: $main;
            border-radius: 5px;
            width: 100%;
            padding: 15px 5px;
            font-size: 14px;
            line-height: 14px;
            font-weight: 700;
            color: $black;
        }
    }

    .cart-delivery-type{
        & > h4{
            font-weight: bold;
        }

        & > p{
           line-height: 1.2;
        }
        .select-type{

            & .item-select-type{
                padding: 5px 15px;
                border: 1px solid $white-grey;
                border-radius: 5px;
                margin-right: 15px;
            }

            & input[type='radio']{
                width: 15px;
                height: 15px;
                position: relative;
                z-index: 2;
                cursor: pointer;
                opacity: 0;
                margin-right: 8px;
            }

            & label{
                position: relative;
            }

            .item-select-type.active{
                border-color: yellow;
            }


            & input[type='radio']:checked ~ label:before{
                content: '';
                width: 10.5px;
                height: 10.5px;
                border-radius: 50%;
                position: absolute;
                background: yellow;
                left: -21.5px;
                top: 7.5px;
            }

            & label:after{
                content: '';
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: transparent;
                position: absolute;
                left: -24px;
                top: 5px;
                border: 1px solid yellow;
            }
        }
    }


}


/*-------Media Queries-----------*/

@media screen and (max-width: 992px) {
    .basket-main{
        &__input{
            &_contact{
                & > div{
                    padding: 0;
                }
            }
        }
    }
}
