@charset "UTF-8";
@import "./variables";
@import './node_modules/bootstrap/scss/bootstrap';
@import "./components/main-components/header";
@import "./components/home/banner";
@import "./components/home/category";
@import "./components/home/lider";
@import "./components/home/advantage";
@import "./components/main-components/footer";


*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'HelveticaNeueCyr', 'sans-serif'!important;
}


button{
  cursor: pointer;
  outline: none;
}


h1 {
  color: $main;
}

.container-fluid {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}
/*=============FONTS=================*/

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(../fonts/helveticaneuecyr-black.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(../fonts/helveticaneuecyr-bold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(../fonts/helveticaneuecyr-medium1.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(../fonts/helveticaneuecyr-light.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(../fonts/helveticaneuecyr-thin.ttf);
  font-weight: 300;
  font-style: normal;
}

/*------Media Queries--------*/

@media screen and (max-width: 992px){
  .container-fluid{
    padding-right: 15px;
    padding-left: 15px;
  }
}
