.basket {
    margin: 30px 0 100px 0;

    &__title {
        font-weight: 700;
        color: $black;
        padding: 10px 20px;
        background: $main;
        margin-bottom: 90px;
        font-size: 28px;
    }
    
    &__block {
        
        & h5 {
            font-weight: 700;
            font-size: 24px;
            color: $black;
            margin-bottom: 20px;
        }
        
        & p {
            font-weight: 300;
            font-size: 16px;
            color: $black;
            
            & a {
                font-weight: 550;
                font-size: 16px;
                color: $black;
            }
        }
    }
}