.category {
    margin-top: 30px;

    &__link {
        padding: 0 0 15px 15px;
        background: $white;
        border: 1px solid $grey;
        box-sizing: border-box;
        border-radius: 10px;
        height: 130px;
        text-decoration: none;
        margin: 10px 10px;
    }

    &__text {
        margin-bottom: 0;
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
        color: $black;
    }

    &__span {
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $black;
        margin-bottom: 5px;
        margin-top: 13px;
    }

    &__sale {
        padding: 10px;
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        color: $black;
        background: $main;
    }

    &__img{
        width: 50%;
        margin-left: auto;
        border-radius: 0px 0px 0px 50px;
        overflow: hidden;
    }
}
